<div class="summary entry-summary">
    <span class="loop-product-categories">
        <a href="product-category.html" rel="tag"><%=result.category.parent %></a>
    </span><!-- .loop-product-categories -->

    <h1 itemprop="name" class="product_title entry-title"><%=result.title.product_title %></h1>

  <!--  <div class="woocommerce-product-rating" itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
        <div class="star-rating" title="Rated 4.33 out of 5">
            <span style="width:86.6%"><strong itemprop="ratingValue" class="rating">4.33</strong> out of<span itemprop="bestRating">5</span>based on<span itemprop="ratingCount" class="rating">3</span> customer ratings</span>
        </div>
        <a href="#reviews" class="woocommerce-review-link" rel="nofollow">(<span itemprop="reviewCount" class="count">3</span> customer reviews)</a>
    </div> -->

    <div class="brand">
        <a href="product-category.html"><img src="http://static.webmuthu.com/images/brands/<%=result.category.child %>.jpg" alt=<%=result.category.child %> /></a>
    </div><!-- .brand -->

    <div itemprop="description">

      <!--  Key Speccification Starts -->
                          <br>
      <CENTER>  <div class="col-md-12 col-sm-12 " style="border: 1px solid #ddd;border-radius:1em;padding-right:15px;padding-left:15px;
        position: relative;min-height: 1px;">

              <CENTER><h4 id="keyfeatures">Key Features</h4></CENTER>
              <br>
              <div class="row">
                 <div class="col-xs-4">
                    <i class="material-icons">memory</i>
                <h6><%=result.specification.ram %></h6>
                  </div>
                                          <div class="col-xs-4">
                       <i class="material-icons">camera_front</i>
                 <h6><%=result.specification.primary_camera %></h6>
                  </div>
                                          <div class="col-xs-4">
                       <i  class="material-icons">camera_rear</i>
                 <h6><%=result.specification.secondary_camera %></h6>
                                          </div>
                                 </div>


         <div class="row">
              <div class="col-xs-4">
                   <i class="material-icons">stay_current_portrait</i>
             <h6><%=result.specification.display_size %></h6>
         </div>
         <div class="col-xs-4">
              <i class="material-icons">battery_charging_full</i>
              <h6><%=result.specification.battery %></h6>
         </div>
         <div class="col-xs-4">
              <i class="material-icons">sd_storage</i>
              <h6><%=result.specification.internal_storage %></h6>
         </div>
         </div>

                       </div>
                     </CENTER>

         <!--  Key Specs Ends -->
    <!--    <ul>
            <li><%=result.specification.display_size %> Touch Screen </li>
            <li><%=result.specification.operating_system %> OS</li>
            <li><%=result.specification.processor_type %> Processor</li>
            <li><%=result.specification.primary_camera %> front and <%=result.specification.secondary_camera %> rear camera</li>
        </ul>

        <p><strong>Model Number</strong>: <%=result.specification.model_number %></p>
      -->

    </div>

    <div itemprop="offers">

        <p class="price">
         <% if(result.listprice.flipkart_listprice>0){ %>
            <span class="electro-price"><del><span class="amount">&#8377;<%=result.listprice.flipkart_listprice %></span></del> <ins><span class="amount">&#8377;<%=result.offerprice.flipkart_offerprice %></span></ins></span>
         <% }else if(result.listprice.amazon_listprice>0){ %>
            <span class="electro-price"><del><span class="amount">&#8377;<%=result.listprice.amazon_listprice %></span></del> <ins><span class="amount">&#8377;<%=result.offerprice.amazon_offerprice %></span></ins></span>
            <%  } %>
            <button type="submit" class="affiliatebutton" >Buy for Best Price</button>
        </p>

    </div>
    <div class="action-buttons">
        <a href="/electro/product/ultra-wireless-s50-headphones-s50-with-bluetooth/?add_to_wishlist=2439" rel="nofollow" class="add_to_wishlist" > Wishlist</a>
        <a href="/electro/product/ultra-wireless-s50-headphones-s50-with-bluetooth/?action=yith-woocompare-add-product&id=2439" class="add-to-compare-link" data-product_id="2439">Compare</a>
    </div>

</div>

<% include product-action %>
