<section class="products-2-1-2 animate-in-view fadeIn animated" data-animation="fadeIn">
    <h2 class="sr-only">Products Grid</h2>
    <div class="container">

        <ul class="nav nav-inline nav-justified">

            <li class="nav-item"><a href="shop.html" class="active nav-link">Best Deals</a></li>
            <li class="nav-item"><a class="nav-link" href="shop.html">TV &amp; Audio</a></li>
            <li class="nav-item"><a class="nav-link" href="shop.html">Cameras</a></li>
            <li class="nav-item"><a class="nav-link" href="shop.html">Audio</a></li>
            <li class="nav-item"><a class="nav-link" href="shop.html">Smartphones</a></li>
            <li class="nav-item"><a class="nav-link" href="shop.html">GPS &amp; Navi</a></li>
            <li class="nav-item"><a class="nav-link" href="shop.html">Computers</a></li>
            <li class="nav-item"><a class="nav-link" href="shop.html">Portable Audio</a></li>
            <li class="nav-item"><a class="nav-link" href="shop.html">Accessories</a></li>

        </ul>

        <div class="columns-2-1-2">
            <ul class="products exclude-auto-height">
                <li class="product">
                    <div class="product-outer">
                        <div class="product-inner">
                            <span class="loop-product-categories"><a href="product-category.html" rel="tag"><%=result[2].category.parent %></a></span>
                            <a href="http://www.webmuthu.com/product/<%=result[2].url.product_url %>">
                                <h3><%=result[2].title.flipkart_title %></h3>
                                <div class="product-thumbnail">

                                    <img  src="<%=result[2].img.full_image_1 %>" data-echo="<%=result[2].img.full_image_1 %>" style="width:110px; height:210px;" alt="">

                                </div>
                            </a>

                            <div class="price-add-to-cart">
                                <span class="price">
                                    <span class="electro-price">
                                      <% if(result[2].listprice.flipkart_listprice>0) {%>
                                        <ins><span class="amount">&#8377;<%=result[2].offerprice.flipkart_offerprice %></span></ins>
                                        <del><span class="amount">&#8377;<%=result[2].listprice.flipkart_listprice %></span></del>
                                        <% }else if(result[0].listprice.amazon_listprice>0) { %>
                                          <ins><span class="amount">&#8377;<%=result[2].offerprice.amazon_offerprice %></span></ins>
                                          <del><span class="amount">&#8377;<%=result[2].listprice.amazon_listprice %></span></del>
                                        <% } %>
                                    </span>
                                </span>
                                <a rel="nofollow" href="http://localhost:3000/product/vivo-v7-plus" class="button add_to_cart_button">View Details</a>
                            </div><!-- /.price-add-to-cart -->

                            <div class="hover-area">
                                <div class="action-buttons">

                                    <a href="#" rel="nofollow" class="add_to_wishlist">
                                        Wishlist</a>

                                    <a href="#" class="add-to-compare-link">Compare</a>
                                </div>
                            </div>
                        </div><!-- /.product-inner -->
                    </div><!-- /.product-outer -->
                </li>
                <li class="product">
                    <div class="product-outer">
                        <div class="product-inner">
                            <span class="loop-product-categories"><a href="product-category.html" rel="tag"><%=result[1].category.parent %></a></span>
                              <a href="http://www.webmuthu.com/product/<%=result[1].url.product_url %>">
                                  <% if(result[1].listprice.flipkart_listprice>0) {%>
                                      <h3><%=result[1].title.flipkart_title %></h3>
                                  <% }else if(result[1].listprice.amazon_listprice>0) { %>
                                      <h3><%=result[1].title.amazon_title %></h3>
                                  <% } %>
                                <div class="product-thumbnail">
                                    <img  src="<%=result[1].img.full_image_1 %>" data-echo="<%=result[1].img.full_image_1 %>" style="width:110px; height:210px;" alt="">
                                </div>
                            </a>

                            <div class="price-add-to-cart">
                                <span class="price">
                                    <span class="electro-price">
                                      <% if(result[1].listprice.flipkart_listprice>0) {%>
                                        <ins><span class="amount">&#8377;<%=result[1].offerprice.flipkart_offerprice %></span></ins>
                                        <del><span class="amount">&#8377;<%=result[1].listprice.flipkart_listprice %></span></del>
                                        <% }else if(result[1].listprice.amazon_listprice>0) { %>
                                          <ins><span class="amount">&#8377;<%=result[1].offerprice.amazon_offerprice %></span></ins>
                                          <del><span class="amount">&#8377;<%=result[1].listprice.amazon_listprice %></span></del>
                                        <% } %>
                                    </span>
                                </span>
                                <a rel="nofollow" href="single-product.html" class="button add_to_cart_button">Add to cart</a>
                            </div><!-- /.price-add-to-cart -->

                            <div class="hover-area">
                                <div class="action-buttons">

                                    <a href="#" rel="nofollow" class="add_to_wishlist">
                                        Wishlist</a>

                                    <a href="#" class="add-to-compare-link">Compare</a>
                                </div>
                            </div>
                        </div><!-- /.product-inner -->
                    </div><!-- /.product-outer -->
                </li>
            </ul>

            <ul class="products exclude-auto-height product-main-2-1-2">
                <li class="last product">
                    <div class="product-outer">
                        <div class="product-inner">
                            <span class="loop-product-categories"><a href="product-category.html" rel="tag"><%=result[0].category.parent %></a></span>
                            <a href="http://www.webmuthu.com/product/<%=result[0].url.product_url %>">
                          <CENTER>        <h3><%=result[0].title.flipkart_title %></h3> <CENTER>
                                <div class="product-thumbnail">
                                  <CENTER>  <img  src="<%=result[0].img.full_image_1 %>" data-echo="<%=result[0].img.full_image_1 %>" style="width:260px; height:550px;" alt=""></CENTER>

                                </div>
                            </a>

                            <div class="price-add-to-cart">
                          <CENTER>      <span class="price">
                                    <span class="electro-price">
                                      <% if(result[0].listprice.flipkart_listprice>0) {%>
                                        <ins><span class="amount">&#8377;<%=result[0].offerprice.flipkart_offerprice %></span></ins>
                                        <del><span class="amount">&#8377;<%=result[0].listprice.flipkart_listprice %></span></del>
                                        <% }else if(result[0].listprice.amazon_listprice>0) { %>
                                          <ins><span class="amount">&#8377;<%=result[0].offerprice.amazon_offerprice %></span></ins>
                                          <del><span class="amount">&#8377;<%=result[0].listprice.amazon_listprice %></span></del>
                                        <% } %>
                                    </span>
                                </span></CENTER>
                            <CENTER>    <a rel="nofollow" href="single-product.html" class="button add_to_cart_button">Add to cart</a> </CENTER>
                            </div><!-- /.price-add-to-cart -->

                            <div class="hover-area">
                                <div class="action-buttons">

                                    <a href="#" rel="nofollow" class="add_to_wishlist">
                                        Wishlist</a>

                                    <a href="#" class="add-to-compare-link">Compare</a>
                                </div>
                            </div>
                        </div><!-- /.product-inner -->
                    </div><!-- /.product-outer -->
                </li>
            </ul>

            <ul class="products exclude-auto-height">
                <li class="product">
                    <div class="product-outer">
                        <div class="product-inner">
                          <span class="loop-product-categories"><a href="product-category.html" rel="tag"><%=result[3].category.parent %></a></span>
                          <a href="http://www.webmuthu.com/product/<%=result[3].url.product_url %>">
                        <CENTER>        <h3><%=result[3].title.flipkart_title %></h3> <CENTER>
                                <div class="product-thumbnail">
                                    <img  src="<%=result[3].img.full_image_1 %>" data-echo="<%=result[3].img.full_image_1 %>" style="width:110px; height:210px;" alt="">
                                </div>
                            </a>

                            <div class="price-add-to-cart">
                              <CENTER>      <span class="price">
                                        <span class="electro-price">
                                          <% if(result[3].listprice.flipkart_listprice>0) {%>
                                            <ins><span class="amount">&#8377;<%=result[3].offerprice.flipkart_offerprice %></span></ins>
                                            <del><span class="amount">&#8377;<%=result[3].listprice.flipkart_listprice %></span></del>
                                            <% }else if(result[3].listprice.amazon_listprice>0) { %>
                                              <ins><span class="amount">&#8377;<%=result[3].offerprice.amazon_offerprice %></span></ins>
                                              <del><span class="amount">&#8377;<%=result[3].listprice.amazon_listprice %></span></del>
                                            <% } %>
                                        </span>
                                    </span></CENTER>
                                <a rel="nofollow" href="single-product.html" class="button add_to_cart_button">Add to cart</a>
                            </div><!-- /.price-add-to-cart -->

                            <div class="hover-area">
                                <div class="action-buttons">

                                    <a href="#" rel="nofollow" class="add_to_wishlist">
                                        Wishlist</a>

                                    <a href="#" class="add-to-compare-link">Compare</a>
                                </div>
                            </div>
                        </div><!-- /.product-inner -->
                    </div><!-- /.product-outer -->
                </li>
                <li class="product">
                    <div class="product-outer">
                        <div class="product-inner">
                          <span class="loop-product-categories"><a href="product-category.html" rel="tag"><%=result[4].category.parent %></a></span>
                          <a href="http://www.webmuthu.com/product/<%=result[4].url.product_url %>">
                        <CENTER>        <h3><%=result[4].title.flipkart_title %></h3> <CENTER>
                                <div class="product-thumbnail">
                                    <img  src="<%=result[4].img.full_image_1 %>" data-echo="<%=result[4].img.full_image_1 %>" style="width:110px; height:210px;" alt="">
                                </div>
                            </a>

                            <div class="price-add-to-cart">
                              <CENTER>      <span class="price">
                                        <span class="electro-price">
                                          <% if(result[4].listprice.flipkart_listprice>0) {%>
                                            <ins><span class="amount">&#8377;<%=result[4].offerprice.flipkart_offerprice %></span></ins>
                                            <del><span class="amount">&#8377;<%=result[4].listprice.flipkart_listprice %></span></del>
                                            <% }else if(result[4].listprice.amazon_listprice>0) { %>
                                              <ins><span class="amount">&#8377;<%=result[4].offerprice.amazon_offerprice %></span></ins>
                                              <del><span class="amount">&#8377;<%=result[4].listprice.amazon_listprice %></span></del>
                                            <% } %>
                                        </span>
                                    </span></CENTER>
                                <a rel="nofollow" href="single-product.html" class="button add_to_cart_button">Add to cart</a>
                            </div><!-- /.price-add-to-cart -->

                            <div class="hover-area">
                                <div class="action-buttons">

                                    <a href="#" rel="nofollow" class="add_to_wishlist">
                                        Wishlist</a>

                                    <a href="#" class="add-to-compare-link">Compare</a>
                                </div>
                            </div>
                        </div><!-- /.product-inner -->
                    </div><!-- /.product-outer -->
                </li>            </ul>
        </div>
    </div>
</section>
