<div class="electro-tab" id="tab-specification">
    <div class="container">
        <div class="tab-content">
            <ul class="ec-tabs">
            <!--    <li class="accessories_tab">
                    <a href="#tab-accessories">Accessories</a>
                </li> -->
                <li class="description_tab">
                    <a href="#tab-description">Description</a>
                </li>
                <li class="specification_tab active">
                    <a href="#tab-specification">Specification</a>
                </li>
                <li class="reviews_tab">
                    <a href="#tab-reviews">Videos</a>
                </li>
            </ul>

            <h3>Technical Specifications</h3>
            <table class="table">
                <tbody>
                    <tr>
                        <td>Model Number</td>
                        <td><%=result.specification.model_number %></td>
                    </tr>
                    <tr>
                        <td>Model Name</td>
                        <td><%=result.specification.model_name %></td>
                    </tr>
                    <tr>
                        <td>SIM Type</td>
                        <td><%=result.specification.sim_type %></td>
                    </tr>
                    <tr>
                        <td>Display Size</td>
                        <td><%=result.specification.display_size %></td>
                    </tr>
                    <tr class="size-weight">
                        <td>OS</td>
                        <td><%=result.specification.operating_system %></td>
                    </tr>
                    <tr class="size-weight">
                        <td>Processor Type</td>
                        <td><%=result.specification.processor_type %></td>
                    </tr>
                    <tr class="item-model-number">
                        <td>Processor Core</td>
                        <td><%=result.specification.processor_core %></td>
                    </tr>
                    <tr>
                        <td>Internal Storage</td>
                        <td><%=result.specification.internal_storage %></td>
                    </tr>
                    <tr>
                        <td>RAM</td>
                        <td><%=result.specification.ram %></td>
                    </tr>
                    <tr>
                        <td>Expandable Storage</td>
                        <td><%=result.specification.expandable_storage %></td>
                    </tr>
                    <tr>
                        <td>Primary Camera</td>
                        <td><%=result.specification.primary_camera %></td>
                    </tr>
                    <tr>
                        <td>Secondary Camera</td>
                        <td><%=result.specification.secondary_camera %></td>
                    </tr>
                    <tr>
                        <td>Network Types</td>
                        <td><%=result.specification.network_types %></td>
                    </tr>
                    <tr>
                        <td>Battery</td>
                        <td><%=result.specification.battery %></td>
                    </tr>
                    <tr>
                        <td>Warranty</td>
                        <td><%=result.specification.warranty %></td>
                    </tr>

                </tbody>
            </table>

        </div>
    </div>
</div><!-- /.electro-tab -->
