<div class="electro-tab" id="tab-description">
    <div class="container">
        <div class="tab-content">
            <ul class="ec-tabs">
                <li class="accessories_tab">
                    <a href="#tab-accessories">Accessories</a>
                </li>
                <li class="description_tab active">
                    <a href="#tab-description">Description</a>
                </li>
                <li class="specification_tab">
                    <a href="#tab-specification">Specification</a>
                </li>
                <li class="reviews_tab">
                    <a href="#tab-reviews">Reviews</a>
                </li>
            </ul>

            <div class="electro-description">

                <h3><%=result.description.title_1 %></h3>
                <p><%=result.description.content_1 %></p>
                <table class="layout">
                    <tbody>
                        <tr>
                            <td>
                                <h3><%=result.description.title_2 %></h3>
                                <p><%=result.description.content_2 %></p>
                                <h3><%=result.description.title_3 %></h3>
                                <p><%=result.description.content_3 %></p>
                                <h3><%=result.description.title_4 %></h3>
                                <p><%=result.description.content_4 %></p>
                            </td>

                            <td>
                                <img class="alignright" width="420px" height="307px" data-echo=<%=result.description.image_1 %> src=<%=result.description.image_1 %> alt="">
                            </td>
                        </tr>
                    </tbody>
                </table>

                <table class="layout">
                    <tbody>
                        <tr>
                            <td>
                                <img class="alignnone" width="420px" height="307px" data-echo=<%=result.description.image_2 %> src=<%=result.description.image_2 %> alt="">
                            </td>

                            <td>
                                <h3 style="text-align: right;"><%=result.description.title_5 %></h3>
                                <p style="text-align: right;"><%=result.description.content_5 %></p>
                                <h3 style="text-align: right;"><%=result.description.title_6 %></h3>
                                <p style="text-align: right;"><%=result.description.content_6 %></p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div><!-- /.electro-description -->

            <div class="product_meta">
                <span class="sku_wrapper">SKU: <span class="sku" itemprop="sku">FW511948218</span></span>

                <span class="posted_in">Category:
                    <a href="product-category.html" rel="tag">Headphones</a>
                </span>

                <span class="tagged_as">Tags:
                    <a href="product-category.html" rel="tag">Fast</a>,
                    <a href="product-category.html" rel="tag">Gaming</a>, <a href="product-category.html" rel="tag">Strong</a>
                </span>

            </div><!-- /.product_meta -->
        </div>
    </div>
</div><!-- /.electro-tab -->
